#
# application.yml — главный конфигурационный файл Spring Boot.

#Что нужно сделать:
#  - Указать настройки подключения к базе данных.
#  - Указать порт приложения.
#  - Настроить параметры безопасности и JWT.
#  - Включить Swagger UI.

spring:
  application:
    name: bank-rest
  liquibase:
    change-log: classpath:/db/migration/db.changelog-master.yaml

  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/bank_db
    username: postgres
    password: 2003
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080

jwt:
  secret: ZEdRajRPSUlyOVFOTjIxTGhUWERKVDZJTU5NWFJBZHphZDk0SkpGWHRxQg==
  expiration-ms: 3600000

logging:
  level:
    root: INFO
    org.springframework.security: INFO
    org.hibernate.SQL: DEBUG

springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /api-docs
